@font-face {
    font-family: 'FuturaPT';
    src: url("../fonts/FuturaPT/FuturaCyrillicLight.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("../fonts/FuturaPT/FuturaCyrillicBook.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("../fonts/FuturaPT/FuturaCyrillicMedium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("../fonts/FuturaPT/FuturaCyrillicDemi.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("../fonts/FuturaPT/FuturaCyrillicBold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("../fonts/FuturaPT/FuturaCyrillicExtraBold.ttf") format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("../fonts/FuturaPT/FuturaCyrillicHeavy.ttf") format('truetype');
    font-weight: 900;
}

/* ************************************************************************** */

:root {
	--font-size-main: 1rem;
}

/* ************************************************************************** */

.futurapt {
	font-family: "FuturaPT", sans-serif;
}

.prompt {
	font-family: "Prompt", sans-serif;
}

.plus-jakarta-sans {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
}

/* ************************************************************************** */

.font-thin {
	font-weight: thin;
}

.font-extralight {
	font-weight: 200;
}

.font-light {
	font-weight: light;
}

.font-regular {
	font-weight: normal;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: bold;
}

.font-extrabold {
	font-weight: 800;
}

.font-black {
	font-weight: 900;
}

.font-normal {
	font-style: normal;
}

.font-italic {
	font-style: italic;
}
