@import url("colors.css");
@import url("fonts.css");

/* ************************************************************************** */

.block {
	display: block;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.no-border {
    border: 0;
}

button:hover {
	cursor: pointer;
}

.connected img {
    max-height: 2rem;
}

.display-none {
    display: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.page-width {
    width: 100vw;
}

.page-height {
    height: 100vw;
}

/* ************************************************************************** */

.uppercase {
    text-transform: uppercase;
}

/* ************************************************************************** */

@keyframes animation-rotate360 {
    from {
        transform: rotate(0deg);
		transition-timing-function: ease-in-out;
    }
    to {
        transform: rotate(360deg);
		transition-timing-function: ease-in-out;
    }
}

.animation-rotate360 {
	animation: animation-rotate360 1s;
}
