@import url("colors.css");
@import url("fonts.css");

/* ************************************************************************** */

.block {
	display: block;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.no-border {
    border: 0;
}

button:hover {
	cursor: pointer;
}

.display-none {
    display: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.page-width {
    width: 100vw;
}

.page-height {
    height: 100vw;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* ************************************************************************** */

.uppercase {
    text-transform: uppercase;
}

/* ************************************************************************** */

@keyframes animation-rotate360 {
    from {
        transform: rotate(0deg);
		transition-timing-function: ease-in-out;
    }
    to {
        transform: rotate(360deg);
		transition-timing-function: ease-in-out;
    }
}

.animation-rotate360 {
	animation: animation-rotate360 1s;
}
