@import url("alerts.css");
@import url("header.css");

/* ************************************************************************** */

:root {
	--header-height: 2.5rem;
	--border-radius-one: .4rem;
}

.pong {
	margin-right: .3rem;
	background-image: url(../img/pong.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.socials {
	flex: 1;
}

@media screen and (min-width: 1140px) {
	.pong {
		width: 50rem;
		height: calc(50rem /4 *3);
		margin-right: .3rem;
	}
}

@media screen and (max-width: 1139px) and (min-width: 1020px) {
	.pong {
		width: 45rem;
		height: calc(45rem /4 *3);
		margin-right: .3rem;
	}
}

@media screen and (max-width: 1019px) and (min-width: 955px) {
	.pong {
		width: 40rem;
		height: calc(40rem /4 *3);
		margin-right: .3rem;
	}
}

@media screen and (max-width: 955px) {
	main {
		flex-direction: column;
	}
	.pong {
		width: calc(100vw - (2.75rem * 2));
		height: calc((100vw - (2.75rem * 2)) / 4 * 3);
		margin-right: .3rem;
	}
}

@media screen and (min-width: 630px) {
	body {
		padding: 2.75rem;
	}

	header {
		margin-bottom: 2.75rem;
	}
}

@media screen and (max-width: 629px) and (min-width: 325px) {
	body {
		padding: 2rem 1.5rem;
	}

	header {
		margin-bottom: 1.5rem;
	}
}

@media screen and (max-width: 324px) {
	body {
		padding: 2rem .75rem;
	}

	header {
		margin-bottom: .75rem;
	}
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #1c1c1c;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* .left-container {
	display: flex;
	flex-direction: column;
}

.players-info {
	flex: .3;
}

.pong-game {
	background-image: url("../img/pong.png");
} */

